body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.game {
  max-width: 500px;
}

.board {
  display: grid;
  grid-template-columns: 34px 34px 34px;
  grid-template-rows: 34px 34px 34px;
  margin-bottom: 1em;
}

.status {
  color: #333;
  margin-bottom: 1em;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus, .square:hover {
  z-index: 1;
  background: #ddd;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-child(3n+1) {
  border-left: none;
}

.square:nth-child(n+7) {
  border-bottom: none;
}

.square:nth-child(-n+3) {
  border-top: none;
}
